<app-header></app-header>
<div class="container">
  <a class="nav" routerLink="/home"><mat-icon>home</mat-icon><span> На головну</span></a>
  <div class="item-title">
    <div class="item-title__image">
      <div class="image__item">
        <img *ngIf="recipe.img; else defImg" [src]="recipe.img" alt="photo">
        <ng-template #defImg>
          <img [src]="defaultImg" alt="photo">
        </ng-template>
      </div>
      <button mat-raised-button color="primary" (click)="openAddDialog('recipe')">Додати фото</button>
    </div>
    <div class="item-title__info">
      <form class="info__param" #titleForm = "ngForm">
        <mat-form-field appearance="standard" class="custom-field">
          <mat-label>Назва рецепту</mat-label>
          <input matInput placeholder="Рецепт" [(ngModel)]="recipe.title" #title ='ngModel' name="title" required>
          <mat-error *ngIf="title.invalid">{{getErrorMessage("title")}}</mat-error>
        </mat-form-field>
      </form>
      <div class="info__components">
        <h1>Інгредієнти:</h1>
        <form class="components__form" #componentForm = "ngForm" [formGroup]="form">
          <div *ngFor ="let item of recipe.component; let i = index" class="form__input">
            <div>
              <mat-form-field appearance="standard">
                <mat-label>Інгредієнт</mat-label>
                <input matInput placeholder="Інгредієнт"  [formControlName]="'name'+i" [name]='"name"+i' required>
                <mat-error *ngIf="form.get('name'+i).invalid">{{getErrorMessage("componentTitle",'name'+i)}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-label>К-сть</mat-label>
                <input type="number" matInput placeholder="К-сть" [formControlName]="'count'+i" [name]='"count"+i' required>
                <mat-error *ngIf="form.get('count'+i).invalid">{{getErrorMessage("count", 'count'+i)}}</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="standard">
                <mat-select placeholder="Од. Вим." [formControlName]="'type'+i" required>
                  <mat-option *ngFor="let food of types" [value]="food">
                    {{food}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('type'+i).invalid">{{getErrorMessage("select", 'type'+i)}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <button mat-raised-button color="primary" (click)="addTemplate('component')">Додати інгредієнт</button>
        <button [disabled]="recipe.component.length < 2" mat-raised-button color="warn" (click)="delTemplate('component')">
          Видалити інгредієнт
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="item-content">
    <h1>Спосіб приготування:</h1>
    <form class="content__form" #prepareForm = "ngForm">
      <div *ngFor ="let item of recipe.prepare; index as i" class="form__data">
        <div (click)="openAddDialog('item', i)">
          <img *ngIf="item.img; else defImg" [src]="item.img" alt="photo">
          <ng-template #defImg>
            <img [src]="defaultImg" alt="photo">
          </ng-template>
        </div>
        <div>
          <mat-form-field>
            <textarea matInput placeholder="Приготування..." [(ngModel)]="item.info" [name]='"textArea"+i'
                      #prepare = 'ngModel' required></textarea>
            <mat-error *ngIf="prepare.invalid">{{'Поле приготування неможе бути порожнім'}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button [disabled]="recipe.prepare.length < 2" mat-button color="warn" (click)="delTemplate('prepare', i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <button mat-raised-button color="primary" (click)="addTemplate('prepare')">Додати пункт</button>
    <div class="description">
      <form class="description__text" #decrForm = 'ngForm'>
        <mat-form-field>
          <textarea matInput placeholder="Опишіть страву..." [(ngModel)]="recipe.description" name="description" required></textarea>
          <mat-error *ngIf="title.invalid">{{getErrorMessage("title")}}</mat-error>
        </mat-form-field>
      </form>
      <div class="description__button">
        <button [disabled]="prepareForm.invalid || componentForm.invalid || titleForm.invalid || decrForm.invalid" mat-raised-button color="primary"
        (click)="save()">
          Зберегти новий рецепт
        </button>
        <button mat-raised-button color="warn" (click)="close()">Скасувати</button>
      </div>
    </div>
  </div>
</div>
