<app-header></app-header>
<mat-drawer-container class="side-container">
  <mat-drawer mode="side" opened class="side-nav">
   <div class="side-nav__category">
     <cdk-virtual-scroll-viewport itemSize="50" class="category__item">
       <div *ngFor="let item of category; index as i">
        <div *ngIf="i === 0; else other">
          <a mat-button [routerLink]="item.category" routerLinkActive = "active"
               [routerLinkActiveOptions]="{exact:true}">
            {{item.title}}
          </a>
        </div>
         <ng-template #other>
            <a mat-button [routerLink]="item.category" routerLinkActive = "active">{{item.title}}</a>
          </ng-template>
       </div>
     </cdk-virtual-scroll-viewport>
   </div>
  </mat-drawer>
  <mat-drawer-content class="side-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
