<div class="item-card">
  <mat-card class="custom-card">
    <mat-card-title class="mat-card-title custom-title">
      <mat-toolbar color="primary" class="custom-toolbar">
        <mat-toolbar-row>
          <div class="item-card__header">
            <span (click)="show()">{{item.title | truncatePipe:[15]}}</span>
            <div>
              <mat-icon (click)="edit()">mode_edit</mat-icon>
              <mat-icon color="warn" (click)="del()">delete_forever</mat-icon>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>
    <img class="item-card__img" *ngIf="item.img; else defImg" [src]="item.img" alt="photo" (click)="show()">
    <ng-template #defImg>
      <img class="item-card__img" [src]="defaultImg" alt="photo" (click)="show()">
    </ng-template>
    <mat-card-content class="item-card__description" (click)="show()">
      <p>
        {{item.description | truncatePipe:[100]}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
